@import url("https://fonts.googleapis.com/css2?family=Inter:wght@300;600&display=swap");
@import "tailwindcss";

@plugin "tailwindcss-animate";

@custom-variant dark (&:where(.dark, .dark *));
@custom-variant loaded {
  .loaded & {
    @slot;
  }
}
@custom-variant group2-hover {
  &:is(:where(.group2):hover *) {
    @media (hover: hover) {
      @slot;
    }
  }
}

/*noinspection CssUnknownTarget*/
@font-face {
  font-family: Garet;
  font-style: normal;
  font-weight: 700;
  font-display: swap;
  src: url('/fonts/Garet-Heavy.ttf') format("ttf"), url('/fonts/Garet-Heavy.woff2') format("woff2");
}

/*noinspection CssUnknownTarget*/
@font-face {
  font-family: Galette;
  font-style: normal;
  font-weight: 500;
  font-display: swap;
  src: url('/fonts/galette-med.otf') format("opentype");
}

@theme {
  --font-sans: "Inter", Arial, ui-sans-serif, system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-garet: "Garet", "Arial Black", ui-sans-serif, system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-galette: "Galette", Arial, ui-sans-serif, system-ui, sans-serif,
  "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --text-xxs: 0.625rem;
  --container-page: 65rem;

  --color-resume: hsl(219.23, 20.63%, 24.71%);
  --color-resume-foreground: hsl(0 0% 100%);

  --color-rails: #D30001;
  --color-javascript: #f7df1e;
  --color-postgres: rgb(51, 103, 145);
  --color-typescript: #3178c6;
  --color-prisma: #4C51BF;
  --color-react: #61dafb;
  --color-redux: #764ABC;
  --color-php: #777bb3;
  --color-rxjs: #e32286;
  --color-doctrine: #FE8439;
}

html,
body {
  @apply bg-background;
}

:root {
  --background: hsl(0 0% 100%);
  --foreground: hsl(240 10% 17.3%);
  --card: hsl(0 0% 100%);
  --card-foreground: hsl(240 10% 3.9%);
  --popover: hsl(0 0% 100%);
  --popover-foreground: hsl(240 10% 3.9%);
  --primary: hsl(240 5.9% 10%);
  --primary-foreground: hsl(0 0% 98%);
  --secondary: hsl(240 4.8% 95.9%);
  --secondary-foreground: hsl(240 5.9% 10%);
  --muted: hsl(240 4.8% 95.9%);
  --muted-foreground: hsl(240 3.8% 46.1%);
  --accent: hsl(219.23, 20.63%, 24.71%);
  --accent-foreground: hsl(0 0% 100%);
  --destructive: hsl(0 84.2% 60.2%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(240 5.9% 90%);
  --input: hsl(240 5.9% 90%);
  --ring: hsl(240 10% 3.9%);
  --chart-1: hsl(12 76% 61%);
  --chart-2: hsl(173 58% 39%);
  --chart-3: hsl(197 37% 24%);
  --chart-4: hsl(43 74% 66%);
  --chart-5: hsl(27 87% 67%);
  --radius: 0.6rem;
}

@utility dark {
  --background: hsl(217, 21%, 15%);
  --foreground: hsl(0 0% 98%);
  --card: hsl(240 10% 3.9%);
  --card-foreground: hsl(0 0% 98%);
  --popover: hsl(240 10% 3.9%);
  --popover-foreground: hsl(0 0% 98%);
  --primary: hsl(0 0% 98%);
  --primary-foreground: hsl(213, 14%, 12%);
  --secondary: hsl(240 3.7% 15.9%);
  --secondary-foreground: hsl(0 0% 98%);
  --muted: hsl(240 3.7% 15.9%);
  --muted-foreground: hsl(240 5% 64.9%);
  --accent: hsl(219.23, 20.63%, 75.71%);
  --accent-foreground: hsl(0 0% 98%);
  --destructive: hsl(0 62.8% 30.6%);
  --destructive-foreground: hsl(0 0% 98%);
  --border: hsl(240 3.7% 15.9%);
  --input: hsl(240 3.7% 15.9%);
  --ring: hsl(240 4.9% 83.9%);
  --chart-1: hsl(220 70% 50%);
  --chart-2: hsl(160 60% 45%);
  --chart-3: hsl(30 80% 55%);
  --chart-4: hsl(280 65% 60%);
  --chart-5: hsl(340 75% 55%);

  --color-resume: hsl(217, 21%, 15%);
  --color-resume-foreground: hsl(219.23, 20.63%, 75.71%);

  /*--color-postgres: rgb(105, 158, 202);*/
}

.dark {
  @apply dark;
}

.system {
  @media (prefers-color-scheme: dark) {
    @apply dark;
  }
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-card: var(--card);
  --color-card-foreground: var(--card-foreground);
  --color-popover: var(--popover);
  --color-popover-foreground: var(--popover-foreground);
  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);
  --color-secondary: var(--secondary);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-muted: var(--muted);
  --color-muted-foreground: var(--muted-foreground);
  --color-accent: var(--accent);
  --color-accent-foreground: var(--accent-foreground);
  --color-destructive: var(--destructive);
  --color-destructive-foreground: var(--destructive-foreground);
  --color-border: var(--border);
  --color-input: var(--input);
  --color-ring: var(--ring);
  --color-chart-1: var(--chart-1);
  --color-chart-2: var(--chart-2);
  --color-chart-3: var(--chart-3);
  --color-chart-4: var(--chart-4);
  --color-chart-5: var(--chart-5);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }

  body {
    @apply bg-background text-foreground;
  }

  .hero:hover + div .hero-image {
    scale: 1.02;
  }

  .hero-image {
    @apply transition-transform duration-300;

    mask-image: linear-gradient(180deg, #fff 0 20%, transparent);
  }
}

@utility resume {
  @apply w-full;

  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 'content';

  .section-header {
    @apply border-b border-accent pb-2 mb-4;
  }

  .left {
    @apply bg-resume;
    grid-area: left;
  }

  .right {
    @apply bg-primary-foreground;
    grid-area: right;
  }

  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas:
      'image'
      'bio'
      'experience'
      'side'
    ;
  }

  .image, .bio, .side, .experience {
    @apply py-4 px-8;

    > * {
      @apply w-full max-w-96 mx-auto;
    }
  }

  .image {
    @apply bg-resume;
    grid-area: image;
  }

  .bio {
    @apply bg-resume text-resume-foreground mb-4;
    grid-area: bio;

    h1 {
      @apply text-4xl tracking-wider;
    }

    h2 {
      @apply text-xl tracking-widest my-2 mb-6;
    }
  }

  .side {
    @apply bg-primary-foreground text-accent flex flex-col gap-10;
    grid-area: side;
  }

  .expertise {
    h4 span {
      @apply text-nowrap;
    }
  }

  .experience {
    @apply bg-primary-foreground text-accent;
    grid-area: experience;
  }

  /* MD */
  @media (width >= 48rem) {
    .image, .bio, .side, .experience {
      @apply px-32;

      > * {
        @apply w-128 max-w-128 mx-auto;
      }
    }
  }

  /* LG */
  @media (width >= 64rem) {
    grid-template-columns: 1fr max-content 1fr;
    grid-template-areas: 'left content right';

    .content {
      @apply max-w-page;

      grid-template-columns: repeat(3, 1fr);
      grid-template-areas:
        'image bio bio'
        'side experience experience'
      ;
    }

    .image, .bio, .side, .experience {
      > * {
        @apply w-auto max-w-full mx-0;
      }
    }

    .image, .side {
      @apply pl-4 pr-8;
    }
    .bio {
      @apply pl-8 pr-0;

      p {
        @apply pr-4;
      }
    }
    .experience {
      @apply pl-8 pr-4;
    }

    .bio {
      @apply bg-primary-foreground text-accent mb-0 py-6;

      h1 {
        @apply text-5xl;
      }

      h2 {
        @apply text-2xl;
      }
    }

    .image {
      @apply content-center;
    }

    .experience {
      @apply bg-primary-foreground text-accent;
    }

    .side {
      @apply bg-resume text-resume-foreground;

      .section-header {
        @apply border-resume-foreground;
      }
    }
  }
}
